page-about {
  .about-header {
    background-color: #54575e;
    padding: 16px;
    width: 100%;
    min-height: 150px;
    text-align: center;
  }
    
  .about-header img {
    max-width: 200px;
    min-height: 115px;
    padding: 20px 0 5px 0;
  }
    
}
