<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Sobre</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div class="about-header">
    <img src="assets/icon/logo_128x128.png" alt="ionic logo">
  </div>

  <div padding>
    <h1 text-center>EdiBox</h1>
    <p text-center>O EdiBox é um editor de jogos educativos multiplataforma que visa auxiliar os educadores no processo de ensino e aprendizagem.
      No editor o educador pode construir jogos didáticos com os conteúdos trabalhados em sala de aula, através dos templates
      disponíveis, auxiliando desta forma os educandos através das atividades digitais a compreenderem os conteúdos abortados
      e a desenvolverem novas habilidades.</p>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar text-center color="primary">
    <ion-note item-end>
      @ Marcos Douglas Hoppe
    </ion-note>
  </ion-toolbar>
</ion-footer>