<ion-header>
  <ion-navbar color="primary" no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Jogos</ion-title>

    <ion-buttons end *ngIf="qtdAlbunsCompart != 0;">
      <button ion-button icon-only (click)="importGame()">
        <ion-icon name="add"></ion-icon>
        <ion-badge item-end color="secondary">{{ qtdAlbunsCompart }}</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar color="primary" no-border-top>
    <ion-searchbar placeholder="Procurar..." (ionInput)="filterItems($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row justify-content-center>
      <ion-col col-12 col-sm-12 col-md-10 col-lg-9 col-xl-8>

        <div *ngFor="let album of list | async">

          <ion-item ion-text text-wrap *ngFor="let gameKey of objectKeys(album)">
            <h2>
              <b>{{ album[gameKey].name }} </b>
            </h2>
            <p> Jogo de {{ album[gameKey].type }}</p>
            <button ion-button outline item-end icon-start (click)="jogar(album[gameKey])">
              <ion-icon name="game-controller-b"></ion-icon>
              Jogar
            </button>
          </ion-item>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>