<ion-header>
  <ion-navbar color="primary">
    <ion-title>Logar</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col col-12 col-sm-12 col-md-11 col-lg-9 col-xl-8>

        <h1 ion-text text-center>
          <ion-icon class="auth-icon" name="person" color="primary"></ion-icon>
        </h1>

        <form [formGroup]="signinForm" (ngSubmit)="onSubmit(); $event.preventDefault()">

          <ion-item>
            <ion-icon name="mail" item-start color="primary"></ion-icon>
            <ion-label floating color="primary">Email</ion-label>
            <ion-input type="email" name="email" formControlName="email"></ion-input>
          </ion-item>
          <p ion-text color="danger" padding-left *ngIf="signinForm.get('email').hasError('email') && signinForm.get('email').touched">O campo é obrigatório.</p>

          <ion-item>
            <ion-icon name="lock" item-start color="primary"></ion-icon>
            <ion-label floating color="primary">Senha</ion-label>
            <ion-input type="password" name="password" formControlName="password"></ion-input>
          </ion-item>

          <br>
          <button ion-button type="submit" block large [disabled]="signinForm.invalid">Logar</button>

          <ion-buttons end>
            <button ion-button type="button" small clear (click)="resetPassword()">Esqueceu sua senha?</button>
          </ion-buttons>

        </form>

        <br>
        <button ion-button outline block color="dark" (click)="onSingupPage()">Cadastre-se</button>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>