<ion-header>
  <ion-navbar color="primary">
    <ion-title> Criar álbum</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="albumForm" (ngSubmit)="salvar()">

    <ion-grid>
      <ion-row justify-content-center>
        <ion-col col-auto align-self-center align-items-center>
          <img class="image" src="{{ albumForm.get('photo').value || 'assets/img/folder.png' }}" alt="Imagem do álbum" />
          <ion-fab right bottom>
            <button type="button" ion-fab (click)="getPicture()">
              <ion-icon name="image"></ion-icon>
            </button>
          </ion-fab>
        </ion-col>
      </ion-row>
      <ion-row>
        <input class="fileIn" type="file" #fileInput name="files[]" accept="image/*" (change)="processWebImage($event)" />
      </ion-row>
    </ion-grid>

    <ion-list>
      <ion-item>
        <ion-label stacked>Nome do álbum</ion-label>
        <ion-input type="text" name="name" formControlName="name" placeholder="Ex.: Geografia"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Descrição</ion-label>
        <ion-textarea name="description" formControlName="description" placeholder="Ex.: Esta pasta se destina..."></ion-textarea>
      </ion-item>

      <button type="submit" ion-button block [disabled]="albumForm.invalid">Salvar</button>
    </ion-list>
  </form>

</ion-content>