<ion-tabs selectedIndex="1">
  <ion-tab [root]="tab1Root" tabTitle="Jogo 1" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Jogo 2" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Jogo 3" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="TESTE" tabIcon="exit"></ion-tab>
</ion-tabs>
