<ion-tabs [selectedIndex]="myIndex" name="edibox">
  <ion-tab [root]="tab1Root" tabTitle="Editor" tabIcon="construct"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Jogos" tabIcon="game-controller-b"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Perfil" tabIcon="person"></ion-tab>
</ion-tabs>