<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Perfil</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="onSingOut()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col col-auto align-self-center align-items-center>

        <img class="image" src="{{ profileForm.get('photo').value || 'assets/img/no-photo.png' }}" alt="Foto do usuario" />

        <ion-fab right bottom *ngIf="edita">
          <button type="button" ion-fab (click)="getPicture()">
            <ion-icon name="image"></ion-icon>
          </button>
        </ion-fab>

      </ion-col>
    </ion-row>

    <ion-row>
      <input class="fileIn" type="file" #fileInput name="files[]" accept="image/*" (change)="processWebImage($event)" />
    </ion-row>

    <ion-row justify-content-center *ngIf="!edita; else isEdit">
      <ion-col col-12 col-sm-12 col-md-10 col-lg-9 col-xl-8>

        <ion-item>
          <h1 text-center>
            <b>{{ profileForm.get('username').value }}</b>
          </h1>
        </ion-item>

        <ion-item text-center text-wrap>
          <h4>
            <b>Nome:</b> {{ profileForm.get('name').value }}</h4>
          <h4>
            <b>Email:</b> {{ profileForm.get('email').value }}</h4>
        </ion-item>

        <ion-item no-lines>
          <button ion-button item-end icon-start (click)="edita = !edita">
            <ion-icon name="create"></ion-icon>
            Editar
          </button>
        </ion-item>

      </ion-col>
    </ion-row>

    <ng-template #isEdit>
      <ion-row justify-content-center>
        <ion-col col-12 col-sm-12 col-md-10 col-lg-9 col-xl-8>

          <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

            <ion-item>
              <ion-label stacked color="primary">Apelido</ion-label>
              <ion-input type="text" name="username" formControlName="username"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label stacked color="primary">Nome Completo</ion-label>
              <ion-input type="text" name="name" formControlName="name"></ion-input>
            </ion-item>

            <ion-row>
              <ion-col col-6>
                <button ion-button type="submit" block [disabled]="profileForm.invalid">Salvar</button>
              </ion-col>
              <ion-col col-6>
                <button ion-button type="button" block (click)="edita = !edita">Cancelar</button>
              </ion-col>
            </ion-row>

          </form>
        </ion-col>
      </ion-row>
    </ng-template>

  </ion-grid>
</ion-content>