<ion-header>

  <ion-navbar color="primary">
    <ion-title>Escolha um layout de jogo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="card-background-page">

  <ion-grid fixed no-padding>
    <ion-row justify-content-center>

      <ion-col col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3 *ngFor="let template of templates">
        <ion-card (click)="openLayout(template)">
          <img [src]="template.img" />
          <div class="card-title">{{ template.title }}</div>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>