page-templates {
  .card-background-page {
    ion-card {
      position: relative;
      text-align: center;
      border-radius: 15px;
    }

    .card-title {
      position: absolute;
      top: 40%;
      font-size: 1.3em;
      width: 100%;
      font-weight: bold;
      color: #fff;
      background-color:rgba(0,0,0,0.6);
    }

  }
}
