<ion-list>
  <ion-list-header text-wrap>Escolha para qual álbum deseja mover o jogo</ion-list-header>
  <button ion-item *ngFor="let album of listAlbum | async" (click)="acceptGame(album.$key)">{{album.name}}</button>
</ion-list>