<ion-header>
  <ion-navbar color="primary">
    <ion-title> Importar jogos</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item text-wrap *ngFor="let game of listGames | async">

      <h2>
        <b>{{ game.name }}</b>
      </h2>
      <p> Jogo de {{ game.type }}</p>

      <button ion-button item-end clear icon-only color="secondary" title="Aceitar o jogo" (click)="aceitarJogo(game)">
        <ion-icon name="checkmark-circle"></ion-icon>
      </button>
      <button ion-button item-end clear icon-only color="danger" title="Recusar o jogo" (click)="recusarJogo(game)">
        <ion-icon name="close-circle"></ion-icon>
      </button>

    </ion-item>
  </ion-list>
</ion-content>