<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ jogo.name }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid no-padding>

    <ion-row justify-content-center>
      <h3 ion-text text-center>{{ jogo.pergunta }}</h3>
    </ion-row>

    <ion-row>
      <ion-item text-wrap>
        <p ion-text> Tempo: {{ jogo.tempo }}</p>
        <p ion-text item-end> Erros: {{ qtdErro }}/{{ jogo.dificuldade }}</p>
      </ion-item>
    </ion-row>

    <ion-row justify-content-center>
      <ion-col col-auto>
        <ion-fab center middle #fab>
          <button ion-fab>Dica</button>
          <ion-fab-list side="left">
            <button ion-fab (click)="abrirDica('imagem', fab)">
              <ion-icon name="image"></ion-icon>
            </button>
          </ion-fab-list>
          <ion-fab-list side="right">
            <button ion-fab (click)="abrirDica('audio', fab)">
              <ion-icon name="musical-notes"></ion-icon>
            </button>
          </ion-fab-list>
        </ion-fab>
        <ion-item detail-none no-lines></ion-item>
        <br/>
        <br/>
      </ion-col>
    </ion-row>

    <div [ngSwitch]="dica">
      <ion-row justify-content-center *ngSwitchCase="'imagem'">
        <ion-col col-auto>
          <img class="image" src="{{ jogo.photo }}" />
        </ion-col>
      </ion-row>

      <ion-row justify-content-center *ngSwitchCase="'audio'">
        <ion-col col-auto>
          <h1>audio em construção</h1>
        </ion-col>
      </ion-row>

    </div>

    <ion-row justify-content-center>
      <ion-col col-1 align-self-stretch *ngFor="let letra of vetorLetras">
        <div style="border: 1px solid;" text-center text-uppercase>
          <p>{{ letra }}</p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-item no-lines text-wrap>
        <p ion-text *ngIf="qtdErro !=0">
          <b>Letras digitadas: </b>{{ letraDigitadas }}</p>
      </ion-item>
    </ion-row>

    <ion-row>
      <ion-item>
        <ion-label stacked>Letra:</ion-label>
        <ion-input type="text" (keyup.enter)="verificaLetra()" [(ngModel)]="letra" name="letra" value=""></ion-input>
        <button ion-button item-end (click)="verificaLetra()">
          <ion-icon name="send"></ion-icon>
        </button>
      </ion-item>
    </ion-row>
  </ion-grid>

</ion-content>