<ion-header>
  <ion-navbar color="primary">
    <ion-title> {{ jogo.name }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!--ion-grid>
    <ion-row>
      <ion-col col-3 col-md-1 style="border: 1px solid">
        <img src="assets/imgs/user1.png" />
      </ion-col>
      <ion-col col-3 col-md-1 style="border: 1px solid">
        <img src="assets/imgs/user1.png" />
      </ion-col>
      <ion-col col-3 col-md-1>
        <img src="assets/imgs/user1.png" />
      </ion-col>
      <ion-col col-3 col-md-1>
        <img src="assets/imgs/user1.png" />
      </ion-col>
      <ion-col col-3 col-md-1>
        <img src="assets/imgs/user1.png" />
      </ion-col>
      <ion-col col-3 col-md-1>
        <img src="assets/imgs/user1.png" />
      </ion-col>
      <ion-col col-3 col-md-1>
        <img src="assets/imgs/user1.png" />
      </ion-col>
      <ion-col col-3 col-md-1>
        <img src="assets/imgs/user1.png" />
      </ion-col>
    </ion-row>
  </ion-grid-->
  <!--ion-grid>
    <ion-row>
      <ion-col col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3>
      </ion-col>
    </ion-row>
  </ion-grid-->

  <ion-grid>
    <ion-row>
      <ion-item text-wrap>
        <p ion-text> Tempo: {{ jogo.tempo }}</p>
      </ion-item>
    </ion-row>

    <ion-row>
      <ion-item no-lines>
        <ion-label>
          Dica
        </ion-label>
        <div item-content>
          <button ion-button clear item-end icon-only>
            <ion-icon name="star"></ion-icon>
          </button>

        </div>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-col col-3 col-md-2 *ngFor="let card of cards; index as i;">
        <div (click)="cardClick(i)">
          <img src="{{ card }}" />
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>