<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ album.name }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid fixed>
    <ion-row justify-content-center>
      <ion-col col-12 col-sm-12 col-md-10 col-lg-9 col-xl-8>

        <ion-toolbar color="primary">
          <ion-item text-wrap detail-none>
            <ion-thumbnail item-start>
              <img [src]="album.photo || 'assets/img/folder.png'">
            </ion-thumbnail>
            <h3 ion-text>
              <b>Descrição:</b> {{ album.description }}</h3>
          </ion-item>
        </ion-toolbar>

        <button ion-button block icon-start (click)="createNewGame()">
          <ion-icon name="game-controller-b"></ion-icon>
          Novo Jogo
        </button>

        <div padding text-center *ngIf="qtdGames == 0 ; else jogosList">
          <h1 ion-text>Não existe nenhum jogo cadastrado.</h1>
          <p ion-text>click no botao acima para construir algum!</p>
        </div>


        <ng-template #jogosList>
          <ion-item *ngFor="let game of gameList | async">
            <h2 text-wrap>
              <b>{{ game.name }}</b>
            </h2>
            <p> Jogo de {{ game.type }}</p>
            <ion-buttons end>
              <button ion-button small round outline icon-only color="secondary" title="Testar o jogo" (click)="jogar(game)">
                <ion-icon name="game-controller-b"></ion-icon>
              </button>
              <button ion-button small round outline icon-only title="Compartilhar o jogo" (click)="compartilhar(game)">
                <ion-icon name="share-alt"></ion-icon>
              </button>
              <button ion-button small round outline icon-only title="Mover o jogo para outro álbum" (click)="moverGame(game)">
                <ion-icon name="copy"></ion-icon>
              </button>
              <button ion-button small round outline icon-only title="Editar o jogo" (click)="editarGameSelec(game)">
                <ion-icon name="create"></ion-icon>
              </button>
              <button ion-button small round outline icon-only color="danger" title="Excluir o jogo" (click)="deleteGameList(game)">
                <ion-icon name="trash"></ion-icon>
              </button>
            </ion-buttons>
          </ion-item>

        </ng-template>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>