<ion-header>

  <ion-navbar color="primary">
    <ion-title>Letras</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col col-12 col-sm-11 col-md-10 col-lg-8 col-xl-7>

        <form [formGroup]="gameForm" (ngSubmit)="onSubmit()">

          <ion-item>
            <ion-label stacked color="primary">Nome do Jogo</ion-label>
            <ion-input placeholder="Nome da atividade" formControlName="name"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked color="primary">Pergunta</ion-label>
            <ion-input placeholder="Pergunta" formControlName="pergunta"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked color="primary">Resposta</ion-label>
            <ion-input placeholder="Resposta" formControlName="resposta"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked color="primary">Dificuldade</ion-label>
            <ion-select formControlName="dificuldade" placeholder="Fácil">
              <ion-option value="9">Fácil</ion-option>
              <ion-option value="6">Médio</ion-option>
              <ion-option value="3">Difícil</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label stacked color="primary">Tempo</ion-label>
            <ion-datetime displayFormat="HH:mm:ss" initialValue="00:00:00" placeholder="00h:00m:00s" formControlName="tempo"></ion-datetime>
          </ion-item>

          <ion-item>
            <h5 ion-text text-wrap color="primary">Selecione uma imagem para a dica</h5>
            <input class="fileIn" type="file" #fileInput name="files[]" accept="image/*" (change)="processWebImage($event)" />
            <div text-center>
              <img class="image" src="{{ gameForm.get('photo').value || 'assets/img/no-img.png' }}" (click)="getPicture()" />
            </div>
          </ion-item>

          <button ion-button type="submit" block [disabled]="gameForm.invalid">Salvar</button>
        </form>

      </ion-col>

    </ion-row>
  </ion-grid>


</ion-content>