<ion-menu id="myMenu" [content]="myContent">

    <ion-header>
        <ion-toolbar color="primary">

            <button ion-item detail-none no-lines menuClose color="primary" (click)="openPage(pages[2])">
                <ion-avatar item-start>
                    <img src="{{ usuario.photo || 'assets/img/no-photo.png' }}">
                </ion-avatar>

                <h2 ion-text text-wrap>{{ usuario.name }}</h2>
            </button>

        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
            <button ion-item menuClose *ngFor="let p of pages" (click)="openPage(p)">
                <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
                {{ p.title }}
            </button>
        </ion-list>
    </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #myContent swipeBackEnabled="false"></ion-nav>