<ion-header no-border>
  <ion-navbar>
    <ion-buttons end *ngIf="showSkip">
      <button ion-button (click)="startApp()" color="primary">Pular</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-slides #slides (ionSlideWillChange)="onSlideChangeStart($event)" pager>

    <ion-slide>
      <img src="assets/icon/logo_256x256.png" class="slide-image" />
      <h2 class="slide-title"> Seja bem-vindo ao
        <b>EDIBOX</b>
      </h2>
      <p> O
        <b>Edibox</b> é um editor de jogos voltado para auxiliar o ensino, na qual você poderá construir atividades personalizadas
        para seus alunos.</p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/tutorial2.png" class="slide-image" />
      <h2 class="slide-title">Construir um jogo?</h2>
      <p>
        Facilmente você pode construir seu jogo personalizado, sem enrolação ou confusão!
      </p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/tutorial.png" class="slide-image" />
      <h2 class="slide-title">Problemas para editar um álbum?</h2>
      <p>
        Para editar um álbum é necessario arasta-lo para o lado.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/tutorial3.png" class="slide-image" />
      <h2 class="slide-title">Vamos começar?</h2>
      <button ion-button icon-end large clear (click)="startApp()">
        Continuar
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>

  </ion-slides>
</ion-content>