<ion-header>

  <ion-navbar>
    <ion-title>teste</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>


  <ion-grid no-padding>
    <ion-row justify-content-center>
      <ion-col col-3 col-md-2 *ngFor="let item of itens; index as i;">


        <ion-card (click)="clicando(i)">
          <img class="image" [ngClass]="{'my-class': item.clicked }" src="{{ item.image }}" />

          <ion-fab bottom right *ngIf="item.clicked">
            <button mini ion-fab color="transparent">
              <ion-icon name="done-all" color="secondary"></ion-icon>
            </button>
          </ion-fab>

        </ion-card>

      </ion-col>
    </ion-row>

    <button ion-button block (click)="verificaImagens()"> Verifica</button>
  </ion-grid>
</ion-content>