<ion-header>
  <ion-navbar color="primary">
    <ion-title>Games</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="formGame" (ngSubmit)="newGame()">

    <ion-item>
      <ion-label floating>Nome do jogo</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Descrição</ion-label>
      <ion-input type="text" formControlName="description"></ion-input>
    </ion-item>

    <button ion-button block type="submit" icon-left color="primary" [disabled]="formGame.invalid">
      <ion-icon name="game-controller-b"></ion-icon>
      Novo
    </button>

    <!--ion-grid>
      <ion-row justify-content-center>
        <ion-col col-auto>
          <button ion-button type="submit" icon-left color="primary" [disabled]="formGame.invalid">
            <ion-icon name="game-controller-b"></ion-icon>
            Novo
          </button>
        </ion-col>
        <ion-col col-auto>
          <button ion-button type="button" icon-left color="secondary" [disabled]="formGame.invalid" (click)="editar()">
            <ion-icon name="construct"></ion-icon>
            Editar
          </button>
        </ion-col>
        <ion-col col-auto>
          <button ion-button type="button" icon-left color="danger" [disabled]="formGame.invalid" (click)="excluir()">
            <ion-icon name="trash"></ion-icon>
            Excluir
          </button>
        </ion-col>
      </ion-row>
    </ion-grid-->
  </form>



  <div *ngIf="games && games.length === 0; else gameList">
    <h1>Não existe nenhum jogo cadastrado. </h1>
  </div>

  <ng-template #gameList>
    <ion-list>
      <ion-list-header>
        <h1>Lista de jogos</h1>
      </ion-list-header>

      <ion-item-sliding *ngFor="let game of games | async">
        <ion-item>
          <h2>{{ game.name }}</h2>
          <ion-note>{{ game.description }}</ion-note>
        </ion-item>

        <ion-item-options side="right">
          <button ion-button color="danger" icon-only (click)="excluir(game)">
            <ion-icon name="trash"></ion-icon>
          </button>
          <button ion-button icon-only (click)="editar(game)">
            <ion-icon name="create"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ng-template>

</ion-content>