<ion-header>

  <ion-navbar color="primary">
    <ion-title>Imagens</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid no-padding>
    <ion-row>
      <h2>Selecione as imagens corretas:</h2>
    </ion-row>

    <ion-row justify-content-start>
      <ion-col col-auto align-self-center align-items-center>
        <ion-item no-lines (click)="getFiles()">
          <img class="image" src="assets/img/no-img.png" />
        </ion-item>
      </ion-col>
      <ion-col col-auto align-self-center align-items-center *ngFor="let imgCerta of imgListC; let i = index">
        <ion-item no-lines>
          <img class="image" src="{{ imgCerta }}" />
        </ion-item>
        <ion-fab right top>
          <button type="button" mini ion-fab color="danger" (click)="deleteImg(i, true)">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-fab>
      </ion-col>
    </ion-row>

    <ion-row>
      <h2>Selecione as imagens incorretas:</h2>
    </ion-row>

    <ion-row justify-content-start>
      <ion-col col-auto align-self-center align-items-center>
        <ion-item no-lines (click)="getFiles()">
          <img class="image" src="assets/img/no-img.png" />
        </ion-item>
      </ion-col>

      <ion-col col-auto align-self-center align-items-center *ngFor="let imgErrada of imgListE; let i = index">
        <ion-item no-lines>
          <img class="image" src="{{ imgErrada }}" />
        </ion-item>
        <ion-fab right top>
          <button type="button" mini ion-fab color="danger" (click)="deleteImg(i,false)">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-fab>
      </ion-col>
    </ion-row>

    <ion-row justify-content-center>
      <input class="fileIn" type="file" #filesInput name="uploads[]" multiple accept="image/*" (change)="onChange($event)" />
    </ion-row>
  </ion-grid>

  <form [formGroup]="gameForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label stacked color="primary">Nome da atividade</ion-label>
      <ion-input placeholder="Nome da atividade" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked color="primary">Resposta</ion-label>
      <ion-input placeholder="Resposta" formControlName="resposta"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked color="primary">Dica</ion-label>
      <ion-input placeholder="Dica" formControlName="dica"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked color="primary">Tempo</ion-label>
      <ion-datetime displayFormat="mm:ss" initialValue="00:00" formControlName="tempo" placeholder="00m:00s"></ion-datetime>
    </ion-item>
    <button ion-button type="submit" block [disabled]="true">Salvar</button>
  </form>

</ion-content>
