<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{ jogo.name }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid fixed>
    <ion-row justify-content-center>
      <h3 ion-text text-center>{{ jogo.pergunta }}</h3>
    </ion-row>

    <ion-row>
      <ion-item text-wrap>
        <p ion-text> Tempo: {{ jogo.tempo }}</p>
      </ion-item>
    </ion-row>

    <ion-row justify-content-center>
      <ion-col col-3 col-md-2 *ngFor="let item of itens; index as i;">
        <img class="image" [ngClass]="{'my-class': item.clicked }" src="{{ item.image }}" (click)="itens[i].clicked = !itens[i].clicked"
        />
      </ion-col>
    </ion-row>

    <ion-row>
      <button ion-button block (click)="verificaImagens()"> Verificar</button>
    </ion-row>

  </ion-grid>