<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Editor</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="createAndUpdateAlbum()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid fixed>
    <ion-row justify-content-center>
      <ion-col col-12 col-sm-12 col-md-10 col-lg-9 col-xl-8>

        <div padding text-center *ngIf="qtdAlbuns == 0; else listaAlbum">
          <h1 ion-text>Não existe nenhum álbum cadastrado.</h1>
          <h4 ion-text>Vamos começar?</h4>
          <button ion-button round (click)="createAndUpdateAlbum()">
            Adicionar um novo álbum
          </button>
        </div>

        <ng-template #listaAlbum>
          <ion-list>
            <ion-list-header no-lines>
              <h1> Álbuns</h1>
            </ion-list-header>

            <ion-item-sliding #slidingItem *ngFor="let album of albumList | async">
              <ion-item text-wrap (click)="openAlbum(album)">
                <ion-avatar item-start>
                  <img [src]="album.photo || 'assets/img/folder.png'" />
                </ion-avatar>
                <h2 ion-text>
                  <b>{{ album.name }} </b>
                </h2>
                <p ion-text>{{ album.description }}</p>
              </ion-item>

              <ion-item-options side="left">
                <button ion-button color="primary" (click)="createAndUpdateAlbum(album, slidingItem)">
                  <ion-icon name="create"></ion-icon>
                  Editar
                </button>
                <button ion-button color="danger" (click)="delete(album, slidingItem)">
                  <ion-icon name="trash"></ion-icon>
                  Excluir
                </button>
              </ion-item-options>
            </ion-item-sliding>

          </ion-list>
        </ng-template>

      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>