<ion-header>
  <ion-navbar color="primary">
    <ion-title>Cadastre-se</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col col-12 col-sm-12 col-md-11 col-lg-9 col-xl-8>

        <form [formGroup]="singupForm" (ngSubmit)="onSubmit(); $event.preventDefault()">

          <ion-item>
            <ion-icon name="person" item-start color="primary"></ion-icon>
            <ion-label floating color="primary">Nome completo</ion-label>
            <ion-input type="text" name="Name" formControlName="name"></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="at" item-start color="primary"></ion-icon>
            <ion-label floating color="primary">Nome de usuário</ion-label>
            <ion-input type="text" name="username" formControlName="username"></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="mail" item-start color="primary"></ion-icon>
            <ion-label floating color="primary">Email</ion-label>
            <ion-input type="email" name="Email" formControlName="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="lock" item-start color="primary"></ion-icon>
            <ion-label floating color="primary">Senha</ion-label>
            <ion-input type="password" name="Password" formControlName="password"></ion-input>
          </ion-item>

          <br>
          <button ion-button type="submit" block [disabled]="singupForm.invalid">Criar Conta</button>
        </form>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>