<ion-header>
  <ion-navbar color="primary">
    <ion-title> Compartilhar com...</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let user of users | async" (click)="compartilhaGameonUser(user)">
      <ion-avatar item-start>
        <img [src]="user.photo || 'assets/img/no-photo.png'">
      </ion-avatar>
      {{ user.username }}
    </button>
  </ion-list>

</ion-content>